$color-black: #000;
$color-white: #fff;
$dark-purple: #553d67;
$light-purple: #99738e;
$dark-blue: #242582;
$light-blue: #2f2fa2;
$pink: #f64c72;

$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881a1;
$input-text-active: #bfd2ff;
